body {
    font-family: Arial, sans-serif;
    background-color: #050404;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

div {
    font-style: oblique;
    background-color: #d3b0d7;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 50%;
    text-align: center;
    max-width: 600px; 
}

h1 {
    color: #333;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

label {
    margin-right: 10px;
}

input[type="text"] {
    padding: 10px;
    width: 100%;
    max-width: 400px; 
    border-radius: 5px;
}

button {
    padding: 10px 15px;
    background-color: #5cb85c;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px; 
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
}

.delete-button {
    background-color: #d9534f;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
}

